/* ASPECTOS GENERALES */
* {
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 310px;
    background-color: #F3F5FC;
    background-image: url("fondo3.jpg");
    background-position: center;
    background-size: cover;
    margin: 0px;
    text-align: center;

}

.audio {
    display: none;
}

.inicio {
    text-align: center;
}

.imagen {
    filter: drop-shadow(2px 2px 2px black);
    margin-left: 14px;
}


h1 {
    width: 300px;
    font-family: 'Playfair Display', sans-serif;
    font-size: 40px;
    color: white;
    text-shadow: 3px 3px 4px black;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 15px;
    padding: 15px;
    position: absolute;
}

h2 {
    width: 400px;
    font-family: 'Playfair Display', sans-serif;
    text-shadow: 3px 3px 4px black;
    color: white;
    margin: auto;
    margin-top: 10px;
}

#instrucciones {
    width: 400px;
    color: white;
    text-shadow: 3px 3px 4px black;
    color: white;
    margin: auto;
    margin-top: 15px;
    text-align: justify;
}

p {
    color: white;
    margin: auto;
}

#contenedor {
    width: 100%;
    height: 100%;
    text-align: center;
}

#panel-botones {
    padding-top: 20px;

}

.btn {
    width: 250px;
    height: 40px;
    background-color: #072B61;
    color: white !important;
    font-size: 15px;
    border: 2px solid;
    border-color: #072B61;
    box-shadow: 5px 5px 8px 1px black;
    outline: none;
    text-align: center;
}

.btn:before {
    background: rgba(96, 158, 212, 0.2);
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    content: "";
    position: absolute;
    transition: all 1s ease;
}

.btn:hover:before {
    width: 100%;
}

#panel-agregar-palabra {
    width: 250px;
    height: 50px;
    margin-top: 15px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#boton-agregar-palabra {
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
}

.text-input {
    width: 250px;
    height: 40px;
    font-size: 15px;
    border: #AAB2D5 1px solid;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    outline: none;
}

#panel-canvas {
    width: 410px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 5px 5px 20px 1px black;
    border-style: none;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    align-content: center;
}

canvas {
    width: 400px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0);
}

#input-teclado {
    width: 0px;
    height: 0px;
    background: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
    border: none;
    margin: 0px;
    padding: 0px;
    outline: none;
}

footer {
    margin-top: 20px;
    margin-bottom: 20px;
}

/********************************/

/* EFECTOS */
.invisible {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.visible {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.desplazar-izquierda {
    transform: translate(-125px, 0);
    box-shadow: 0px 5px 8px 1px black;
    transition: all 1s ease-in-out;
}

.desplazar-derecha {
    transform: translate(125px, 0);
    box-shadow: 5px 5px 8px 1px black;
    transition: all 1s ease-in-out;
}

.desplazar-original {
    transform: translate(0px, 0px);
    transition: all 1s ease-in-out;
}

.erratico-derecha {
    transform: translate(-120px, 0px);
    box-shadow: 0px 5px 8px 1px black;
    transition: all 0.1s ease-in-out;
}

.erratico-izquierda {
    transform: translate(-125px, 0px);
    box-shadow: 0px 5px 8px 1px black;
    transition: all 0.1s ease-in-out;
}

/********************************/

/* PANTALLA TABLET */
@media screen and (max-width: 768px) {

    h2 {
        width: 330px;
    }

    #instrucciones {
        width: 330px;
    }

    .btn {
        width: 200px;
        height: 30px;
        font-size: 13px;
    }

    #panel-agregar-palabra {
        width: 200px;
        height: 40px;
        margin-top: 10px;
    }

    .text-input {
        width: 200px;
        height: 30px;
        font-size: 13px;
        border: #AAB2D5 1px solid;
        outline: none;
    }

    #panel-canvas {
        width: 100%;
        margin-bottom: 8px;
        padding: 4px;
        align-content: center;
    }

    canvas {
        width: 320px;
        height: 400px;
    }

    .desplazar-izquierda {
        transform: translate(-100px, 0);
    }

    .desplazar-derecha {
        transform: translate(100px, 0);
    }

    .erratico-derecha {
        transform: translate(-95px, 0);
    }

    .erratico-izquierda {
        transform: translate(-100px, 0);
    }
}

/********************************/

/* PANTALLA TELÉFONO MÓVIL */
@media screen and (max-width: 375px) {

    h2 {
        width: 250px;
    }

    #instrucciones {
        width: 250px;
    }

    .btn {
        width: 150px;
        height: 20px;
        font-size: 11px;
    }

    #panel-agregar-palabra {
        width: 150px;
        height: 20px;
        margin-top: 8px;
    }

    .text-input {
        width: 150px;
        height: 20px;
        font-size: 11px;
        background-color: #EFF1FA;
        border-color: #AAB2D5 2px solid;
        outline: none;
    }

    #panel-canvas {
        width: 250px;
        margin-bottom: 6px;
        padding: 3px;
        align-content: center;
    }

    canvas {
        width: 240px;
        height: 300px;
    }

    .desplazar-izquierda {
        transform: translate(-75px, 0);
    }

    .desplazar-derecha {
        transform: translate(75px, 0);
    }

    .erratico-derecha {
        transform: translate(-70px, 0);
    }

    .erratico-izquierda {
        transform: translate(-75px, 0);
    }
}